@using Nukutaka.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<PRODUCT>
@{
    ViewBag.Title = "ProductByBrand";
    Layout = "~/Views/Shared/_LayoutLeft.cshtml";
}

<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">SẢN PHẨM</h2>
    @if (Model.Count == 0)
    {
        <h2 style="font-family:'Roboto',sans-serif;font-size: 18px;text-align:center">SẢN PHẨM ĐANG ĐƯỢC CẬP NHẬT</h2>
    }
    @{
        foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a href="@Url.Action("Detail", "ProductDetail", new {@id = item.ID})">
                                <div style="height:249px; width:268px">
                                    <div class="hovereffect">
                                        <img class="img-responsive" src="~/images/products/@item.IMAGEURL" alt="@item.NAME" />
                                        <div class="overlay">
                                            <p>@item.NAME</p>
                                            <h5></h5>
                                            <p>Xem chi tiết</p>
                                        </div>
                                    </div>
                                </div>

                                <h2>@String.Format("{0:0,0}", @item.PRICE)</h2>
                                <p>@item.NAME</p>
                            </a>
                            @if (item.INSTOCK == 0)
                            {
                                <button type="button" class="btn btn-default add-to-cart">
                                    Hết hàng
                                </button>
                            }
                            else
                            {
                                using (Html.BeginForm("AddCart", "Cart"))
                                {
                                    <input type="hidden" id="iQuantity" name="iQuantity" min="1" value="1" />
                                    <input type="hidden" id="code" name="code" value="@item.CODE" />
                                    <input type="hidden" id="urlCurrent" name="urlCurrent" value="@Request.Url.ToString()" />
                                    <button type="submit" href="#" class="btn btn-default add-to-cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        Thêm vào giỏ
                                    </button>
                                }
                            }
                        </div>
                        @if (item.STATUS == 1)
                        {
                            <img src="~/images/home/new.png" class="new" alt="" />
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>
<ul class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("ProductByBrand", new { page }))

</ul>

