@using Nukutaka.Models;
@model List<CartModel>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="cart_product">
                                    <a href="@Url.Action("Detail", "ProductDetail", new {@id = item.id })"><img src="~/images/products/@item.imageURL" alt="@item.productName" height="110" width="110"></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="">@item.productName</a></h4>
                                    <p>Web ID: @item.productCode</p>
                                </td>
                                <td class="cart_price">
                                    <p>@String.Format("{0:0,0}", item.price)</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <input class="cart_quantity_input" type="text" name="quantity" value="@item.quantity" autocomplete="off" size="2">
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">@String.Format("{0:0,0}", item.total)</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href="@Url.Action("DeleteCart", "Cart", new { @code = item.productCode })"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td colspan="2">
                            <table class="table table-condensed total-result">
                                <tr class="shipping-cost">
                                    <td>Tổng số lượng</td>
                                    <td>@ViewBag.TotalQuantity</td>
                                </tr>
                                <tr>
                                    <td>Tổng tiền</td>
                                    <td><span>@ViewBag.TotalPrice đ</span></td>
                                </tr>
                            </table>
                            <a class="btn btn-default update" href="">Update</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>NHẬP THÔNG TIN KHÁCH HÀNG</h3>
            <p>Nhập chính xác thông tin các nhân để nhận được sớm nhất có thể!</p>

        </div>
        <div class="row">
            @using (Html.BeginForm("InsertCart", "Cart"))
            {
                <div class="col-sm-6">
                    <h4>Thông tin cá nhân</h4>
                    <input style="background: #F0F0E9; border: 0 none;margin-bottom: 10px;padding: 10px;width: 100%;font-weight: 300;" class="form-control" type="text" placeholder="Họ và tên" name="txtName">
                    <input style="background: #F0F0E9; border: 0 none;margin-bottom: 10px;padding: 10px;width: 100%;font-weight: 300;" class="form-control" type="text" placeholder="Số điện thoại" name="txtPhone">
                    <h4>Hình thức thanh toán</h4>
                    <p>
                        <button type="submit" class="btn btn-primary">Xác nhận đơn hàng</button>
                    </p>
                    <p>
                        HOẶC Thanh toán Online <br />
                        <a href="@ViewBag.TT"><img src="http://www.baokim.vn/developers/uploads/baokim_btn/thanhtoan-l.png" alt="Thanh toán an toàn với Bảo Kim !" border="0" title="Thanh toán trực tuyến an toàn dùng tài khoản Ngân hàng (VietcomBank, TechcomBank, Đông Á, VietinBank, Quân Đội, VIB, SHB,... và thẻ Quốc tế (Visa, Master Card...) qua Cổng thanh toán trực tuyến BảoKim.vn"></a>
                    </p>
                </div>
                <div class="col-sm-6">
                    <h4>Địa chỉ</h4>
                    <input style="background: #F0F0E9; border: 0 none;margin-bottom: 10px;padding: 10px;width: 100%;font-weight: 300;" type="text" placeholder="Số nhà" name="txtSonha">
                    <input style="background: #F0F0E9; border: 0 none;margin-bottom: 10px;padding: 10px;width: 100%;font-weight: 300;" type="text" placeholder="Xã/Phường" name="txtXaphuong">
                    <input style="background: #F0F0E9; border: 0 none;margin-bottom: 10px;padding: 10px;width: 100%;font-weight: 300;" type="text" placeholder="Thị xã/Thành phố" name="txtThixa">
                    <input style="background: #F0F0E9; border: 0 none;margin-bottom: 10px;padding: 10px;width: 100%;font-weight: 300;" type="text" placeholder="Tỉnh" name="txtTinh">
                </div>
                <div class="col-sm-12">

                </div>


            }
        </div>
    </div>
</section>
