@using Nukutaka.Models
@model List<PRODUCT>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Danh sách sản phẩm</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="btn btn-success" href="@Url.Action("AddProduct")">Thêm mới</a>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th></th>
                            <th>STT</th>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Danh mục</th>
                            <th>Loại</th>
                            <th>Nhãn hiệu</th>
                            <th>Còn Hàng</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td onclick="window.location='@Url.Action("UpdateProduct", new {id = item.ID })'">1</td>
                                    <td onclick="window.location='@Url.Action("UpdateProduct", new {id = item.ID })'">@item.CODE</td>
                                    <td onclick="window.location='@Url.Action("UpdateProduct", new {id = item.ID })'">@item.NAME</td>
                                    <td onclick="window.location='@Url.Action("UpdateProduct", new {id = item.ID })'">@item.PRICE</td>
                                    <td onclick="window.location='@Url.Action("UpdateProduct", new {id = item.ID })'">@item.CODECATEGORY</td>
                                    <td onclick="window.location='@Url.Action("UpdateProduct", new {id = item.ID })'">@item.CODEKIND</td>
                                    <td onclick="window.location='@Url.Action("UpdateProduct", new {id = item.ID })'">@item.CODEBRAND</td>
                                    <td onclick="window.location='@Url.Action("UpdateProduct", new {id = item.ID })'">@item.INSTOCK</td>
                                    <td onclick="window.location='@Url.Action("UpdateProduct", new {id = item.ID })'">@item.STATUS</td>
                                    <td>
                                            <a class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#@item.ID" onclick="deleteStart(this)">
                                            </a>
                                    </td>
                                </tr>
                                <div class="modal fade" id="@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Xóa sản phẩm</h4>
                                            </div>
                                            <div class="modal-body">
                                                <span style="font-size: 20px">Bạn chắc chắn muốn xóa @item.NAME ?</span>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" onclick="deleteStopped(this)" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                                                <button type="button" onclick="location.href='@Url.Action("DeleteProduct", new {id = item.ID })'" class="btn btn-danger">Xóa</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

